
<body>
    <!--It's in the header ejs-->

    <main>
        <section class="featured featured-container">
            <h2 class="section-title top-left">Featured</h2>
            <!-- main full width images-->
            <div class="featured-main">
                <img src=<%=popularGames[0].background_img%> alt=<%=popularGames[0].name%> id="featured-img">
                <div class="text-block">
                    <h4 id="featured_title"><%=popularGames[0].name%></h4>
                    <div id = "featured_description"><%=popularGames[0].description%></div>
                </div>
                <!-- Next and previous buttons -->
                <a id="prev">❮</a>
                <a id="next">❯</a>
            </div>

                <!-- Thumbnail images -->
            <div id="row">
            </div>
        </section>
        

        <section class="intro">
            <h3 class="section-title"> Discover <span class="text-primary">current</span> and <span class="text-primary">upcoming</span> games right here at Game Domain</h2>
        </section>

        <section class="categories-showcase">
            <header>
                <h2 class="section-title text-primary">Popular Categories</h2>
            </header>
            <!-- use display flex for the btn categories -->
            <div class="categories flex">
                <div class="category">
                    <a href="#Shooter">
                        <img src="img/first person shooter.jpg" alt="Shooter">
                        <h4 class="category-title">Shooter</h4>
                    </a>
                </div>
                <div class="category">
                    <a href="#Role-Playing-games">
                        <img src="img/RPG.jpg" alt="Role-Playing Game">
                        <h4 class="category-title">Role-Playing Game</h4>
                    </a>
                </div>
                <div class="category">
                    <a href="#action">
                        <img src="img/action.jpg" alt="Action games">
                        <h4 class="category-title">Action games</h4>
                    </a>
                </div>
                <div class="category">
                    <a href="#battle-royale">
                        <img src="img/Battle Royal.jpg" alt="Battle Royale">
                        <h4 class="category-title">Battle Royale</h4>
                    </a>
                </div>
            </div>
        </section>

        <!-- In the future use Javascript to generate more categories-->
        <!-- Within each category, we will look into a database to see how many games are there, then dynamically generate the first top 10 games-->
        <section class="category-1" id="Shooter">
            <header>
                <h2 class="section-title text-primary">Shooter</h2>
            </header>
            <div class="games flex">
                <!--for each game, generate a div container for it-->
                <% for(game of fpsGames){%> 
                    <div class="game">
                        <h4 class="game-title"><%=game.name%></h3>
                        <img src=<%=game.background_img%> alt=<%=game.name%> class="game_img">
                        <div class="game-description">
                            <p ><%=game.description%></p>
                        </div>
                    </div>
                <%}%>
            </div>

            <div class="view-more">
                <a href="" class="btn btn-accent">View More</a>
            </div>

        </section>

        <section class="category-1" id="Role-Playing-games">
            <header>
                <h2 class="section-title text-primary"> Role-Playing Games</h2>
            </header>
            <div class="games flex">
                <% for(game of rpgGames){%> 
                    <div class="game">
                        <h4 class="game-title"><%=game.name%></h3>
                        <img src=<%=game.background_img%> alt=<%=game.name%> class="game_img">
                        <div class="game-description">
                            <p ><%=game.description%></p>
                        </div>
                    </div>
                <%}%>
            </div>

            <div class="view-more">
                <a href="" class="btn btn-accent">View More</a>
            </div>

        </section>

        <section class="category-1" id="action">
            <header>
                <h2 class="section-title text-primary"> Action</h2>
            </header>
            <div class="games flex">
                <% for(game of actionGames){%> 
                    <div class="game">
                        <h4 class="game-title"><%=game.name%></h3>
                        <img src=<%=game.background_img%> alt=<%=game.name%> class="game_img">
                        <div class="game-description">
                            <p ><%=game.description%></p>
                        </div>
                    </div>
                <%}%>
            </div>

            <div class="view-more">
                <a href="" class="btn btn-accent">View More</a>
            </div>

        </section>

        <section class="category-1" id="battle-royale">
            <header>
                <h2 class="section-title text-primary"> Battle Royale</h2>
            </header>
            <div class="games flex">
                <% for(game of battleRoyalGames){%> 
                    <div class="game">
                        <h4 class="game-title"><%=game.name%></h3>
                        <img src=<%=game.background_img%> alt=<%=game.name%> class="game_img">
                        <div class="game-description">
                            <p ><%=game.description%></p>
                        </div>
                    </div>
                <%}%>
            </div>

            <div class="view-more">
                <a href="" class="btn btn-accent">View More</a>
            </div>

        </section>
        
    </main>

    <!--It's in the footer ejs-->
    <!--<script src="script.js" defer></script>-->
    <script>
        let groupdata = <%- JSON.stringify(popularGames) %>;

        //slice titles that are too large to fit on one row
        var gameTitle = document.getElementsByClassName("game-title");
        for(let i =0; i < gameTitle.length; i++){
            let idealTitle = gameTitle[i].textContent.slice(0,32)+"...";
            
            if(gameTitle[i].textContent.length > 35){
                gameTitle[i].innerHTML = idealTitle;
            }
        }




        //getFeatured();
        //Slide show
        async function featuredImg(popularGames){
            //get the data from the server
            //let response = await fetch('/popular');
            //let games = await response.json();
            let games = popularGames
            //change the image in the featured container.
            let currentSlide = 0;
            let img = document.querySelector("#featured-img");
            let desc = document.querySelector("#featured_description");
            let title = document.querySelector("#featured_title");
        
            function next(){

                currentSlide++;
                //if its end of the list then return to 0 upon press
                if(currentSlide >= games.length ){
                    currentSlide = 0;
                }

                // now change current image and desceiption to the new game
                img.src = games[currentSlide].background_img;
                desc.textContent = games[currentSlide].description;
                title.textContent = games[currentSlide].name;

                //remove active status on previous thumbnails
                let column_imgs = document.querySelectorAll(".column");
                for(column of column_imgs){
                    column.classList.remove("active");
                }

                //change set current slide to active
                column_imgs[currentSlide].classList.add("active");
                clearInterval(slideTimer);
                slideTimer = setInterval(next, 5000);
            }

            function prev(){
                currentSlide--;
                if(currentSlide < 0){
                    currentSlide = games.length - 1;
                }
                img.src = games[currentSlide].background_img;
                desc.textContent = games[currentSlide].description;
                title.textContent = games[currentSlide].name;
                clearInterval(slideTimer);
                slideTimer = setInterval(next, 5000);
            }

            document.querySelector("#next").addEventListener('click',next);
            document.querySelector("#prev").addEventListener('click',prev);
            

        
            //automatic slides
            
            let slideTimer = setInterval(next, 5000);

            //set the featured slide using the index number gained from the alt.
            function thumbnail_set(event){
                let column_imgs = document.querySelectorAll(".column");
                //remove active class from other classes to bring opacity down to 0.5
                for(column of column_imgs){
                    column.classList.remove("active");
                }

                //identify the column # that was clicked on, then make it active and set it as the main featured app
                let idx = event.target.alt;
                column_imgs[idx].classList.add("active");
                img.src = event.target.src;
                desc.textContent = games[idx].description;
                title.textContent = games[idx].name;

                //update currentSlide number, to keep the automated events in sync
                currentSlide = idx;

                //then clear the timer and start a new one.
                
                clearInterval(slideTimer);
                slideTimer = setInterval(next, 5000);
                
            }

            //the alt of the image will be the index number of the specific game, which will be used to set the main featured slide.
            function thumbnail(){
                let row = document.querySelector("#row");
                for(let i =0; i<games.length; i++){
                    let column = document.createElement('div');
                    column.classList.add('column');
                    let img = document.createElement('img');
                    img.src = games[i].background_img;
                    img.alt = i;
                    column.append(img);
                    row.append(column);
                }

                let columns = document.querySelectorAll(".column");
                //add event listener to all thumbnail images, use selected image as main profile.
                for(column of columns){
                    column.addEventListener('click',thumbnail_set);
                }
            }
            thumbnail();
            
        }

        featuredImg(groupdata);
    </script>
</body>
