<body class="night-mode">
    <!--It's in the header ejs-->
    <main>
        <section class="featured featured-container">
            <h2 class="section-title top-left">Featured</h2>
            <!-- main full width images-->
                <div class="featured-main">
                    <img src="" id="featured-img">
                    <div class="text-block">
                        <h4 id="featured_title"></h4>
                        <div class="platform-list"></div>
                        
                        <a class="btn-small btn-accent featured-btn" href="">Visit Page</a>
                    </div>
                    <!-- Next and previous buttons -->
                    <a id="prev">❮</a>
                    <a id="next">❯</a>
                </div>
                
                <!-- Preview images -->
                <div class="preview">
                    <div id="row"></div>
                </div>
        </section>

        <section class="intro">
            <h3 class="section-title"> Discover <span class="text-primary">current</span> and <span class="text-primary">upcoming</span> games right here at Game Domain</h2>
        </section>

        <section class="categories-showcase">
            <header>
                <h2 class="section-title text-primary">Popular Categories</h2>
            </header>
            <!-- use display flex for the btn categories -->
            <div class="categories flex">
                <div class="category">
                    <a href="#Shooter">
                        <img class = "category-img" src="img/first person shooter.jpg" alt="Shooter">
                        <h4 class="category-title">Shooter</h4>
                    </a>
                </div>
                <div class="category">
                    <a href="#Role-Playing-games">
                        <img class = "category-img" src="img/RPG.jpg" alt="Role-Playing Game">
                        <h4 class="category-title">Role-Playing Game</h4>
                    </a>
                </div>
                <div class="category">
                    <a href="#action">
                        <img class = "category-img" src="img/action.jpg" alt="Action games">
                        <h4 class="category-title">Action games</h4>
                    </a>
                </div>
                <div class="category">
                    <a href="#battle-royale">
                        <img class = "category-img" src="img/Battle Royal.jpg" alt="Battle Royale">
                        <h4 class="category-title">Battle Royale</h4>
                    </a>
                </div>
            </div>
        </section>

        <!-- In the future use Javascript to generate more categories-->
        <!-- Within each category, we will look into a database to see how many games are there, then dynamically generate the first top 10 games-->
        <section class="category-1" id="Shooter">
            <header>
                <h2 class="section-title text-primary">Shooter</h2>
            </header>
            <div class="games flex">
                <!--for each game, generate a div container for it-->
                <% for(game of fpsGames){%> 
                    <a href="/games/<%=game.id%>">
                        <div class="game">
                            <div class="game-description">
                                <h4 class="game-title"><%=game.name%></h3>
                                <div class="platforms">
                                    <% //Dont want 2 playstation logos for ps4 and ps5 so have a boolean to detect one of em
                                    let playstation = true; 
                                    %>
                                    <%for(platforms of game.platform){%>
                                        <!-- insert image associated with the specific platform-->
                                        <%if(platforms == "Xbox One"){%>
                                            <i class="fab fa-xbox"></i>
                                        <%}%>
                                        <%if((platforms == "PlayStation 4" || platforms == "PlayStation 5") && playstation){%>
                                            <%playstation = false;%>
                                            <i class="fab fa-playstation"></i>
                                        <%}%>
                                        <%if(platforms == "PC"){%>
                                            <i class="fab fa-windows"></i>
                                        <%}
                                    }%>
                                </div>
                            </div>
                            <img src=<%=game.background_img%> alt=<%=game.name%> class="game_img">
                        </div>            
                    </a>
                <%}%>
            </div>

            <div class="view-more">
                <a href="/platform/all/shooter" class="btn btn-accent">View More</a>
            </div>

        </section>

        <section class="category-1" id="Role-Playing-games">
            <header>
                <h2 class="section-title text-primary"> Role-Playing Games</h2>
            </header>
            <div class="games flex">
                <% for(game of rpgGames){%> 
                    <a href="/games/<%=game.id%>">
                        <div class="game">
                            <div class="game-description">
                                <h4 class="game-title"><%=game.name%></h3>
                                <div class="platforms">
                                    <% //Dont want 2 playstation logos for ps4 and ps5 so have a boolean to detect one of em
                                    let playstation = true; 
                                    %>
                                    <%for(platforms of game.platform){%>
                                        <!-- insert image associated with the specific platform-->
                                        <%if(platforms == "Xbox One"){%>
                                            <i class="fab fa-xbox"></i>
                                        <%}%>
                                        <%if((platforms == "PlayStation 4" || platforms == "PlayStation 5") && playstation){%>
                                            <%playstation = false;%>
                                            <i class="fab fa-playstation"></i>
                                        <%}%>
                                        <%if(platforms == "PC"){%>
                                            <i class="fab fa-windows"></i>
                                        <%}
                                    }%>
                                </div>
                            </div>
                            <img src=<%=game.background_img%> alt=<%=game.name%> class="game_img">
                        </div>            
                    </a>
                <%}%>
            </div>

            <div class="view-more">
                <a href="/platform/all/rpg" class="btn btn-accent">View More</a>
            </div>

        </section>

        <section class="category-1" id="action">
            <header>
                <h2 class="section-title text-primary"> Action</h2>
            </header>
            <div class="games flex">
                <% for(game of actionGames){%> 
                    <a href="/games/<%=game.id%>">
                        <div class="game">
                            <div class="game-description">
                                <h4 class="game-title"><%=game.name%></h3>
                                <div class="platforms">
                                    <% //Dont want 2 playstation logos for ps4 and ps5 so have a boolean to detect one of em
                                    let playstation = true; 
                                    %>
                                    <%for(platforms of game.platform){%>
                                        <!-- insert image associated with the specific platform-->
                                        <%if(platforms == "Xbox One"){%>
                                            <i class="fab fa-xbox"></i>
                                        <%}%>
                                        <%if((platforms == "PlayStation 4" || platforms == "PlayStation 5") && playstation){%>
                                            <%playstation = false;%>
                                            <i class="fab fa-playstation"></i>
                                        <%}%>
                                        <%if(platforms == "PC"){%>
                                            <i class="fab fa-windows"></i>
                                        <%}
                                    }%>
                                </div>
                            </div>
                            <img src=<%=game.background_img%> alt=<%=game.name%> class="game_img">
                        </div>            
                    </a>
                <%}%>
            </div>

            <div class="view-more">
                <a href="/platform/all/action" class="btn btn-accent">View More</a>
            </div>

        </section>

        <section class="category-1" id="battle-royale">
            <header>
                <h2 class="section-title text-primary"> Battle Royale</h2>
            </header>
            <div class="games flex">
                <% for(game of battleRoyalGames){%> 
                    <a href="/games/<%=game.id%>">
                        <div class="game">
                            <div class="game-description">
                                <h4 class="game-title"><%=game.name%></h3>
                                <div class="platforms">
                                    <% //Dont want 2 playstation logos for ps4 and ps5 so have a boolean to detect one of em
                                    let playstation = true; 
                                    %>
                                    <%for(platforms of game.platform){%>
                                        <!-- insert image associated with the specific platform-->
                                        <%if(platforms == "Xbox One"){%>
                                            <i class="fab fa-xbox"></i>
                                        <%}%>
                                        <%if((platforms == "PlayStation 4" || platforms == "PlayStation 5") && playstation){%>
                                            <%playstation = false;%>
                                            <i class="fab fa-playstation"></i>
                                        <%}%>
                                        <%if(platforms == "PC"){%>
                                            <i class="fab fa-windows"></i>
                                        <%}
                                    }%>
                                </div>
                            </div>
                            <img src=<%=game.background_img%> alt=<%=game.name%> class="game_img">
                        </div>            
                    </a>
                <%}%>
            </div>

            <div class="view-more">
                <a href="/platform/all/battleroyale" class="btn btn-accent">View More</a>
            </div>

        </section>
        
    </main>

    <!--It's in the footer ejs-->
    <script src="/js/featured.js" async></script>
</body>

