<body class="night-mode">
  <div class="main-container">
          <!-- 
          We have 3 sections
          The main hero page: this has the main background image of the game with title and brief description, consoles etc
          Details: This displays the indept details of the game: E.g where to buy the game, Screenshots, producers, rating, system requirements etc
          Reviews: allow users to input reviews 
      -->
      <section class="hero-container">
          <div id="hero-main" style="background-image: linear-gradient(rgba(22, 100, 124, 0.5), rgba(0, 0, 0, 0.5)),url(<%=game.background_img%>);">
              <div class="hero-content">
                <%=(game.release_Date.toDateString()).slice(4,game.release_Date.length)%>
                  <div class="hero-title">
                      <h1><%=game.name%></h1> 
                  </div> 
                  <div class="hero-description">
                      <!-- find first complete sentence after 150 characters, then add ellipsis and then "read more" link which redirects to the description section-->
                      <%
                      let description =  game.description.slice(0,game.description.indexOf("</p>"));
                        if(description.length > 150){
                            description = game.description.slice(0,game.description.indexOf(" ", 150))+"...";
                        }
                      %>
                      <!-- change the style of the "read more" to blue not underlined unless hovered over-->
                      <%-description%><a href="#about" class="hero-more"> Read More</a>
                  </div>

                  <div class="hero-genres">
                      <ul class="genres-list">
                          <!-- just display only the first 3 genres-->
                        <%for(genre of game.genres){%>
                            <li><%=genre%></li>
                        <%}%>
                      </ul>
                  </div> 

                  <div class="play-btn"><a>Watch Trailer</a></div>

                  <div class="sub-container">
                    <div class="hero-platforms">
                        <% //Dont want 2 playstation logos for ps4 and ps5 so have a boolean to detect one of em
                        let playstation = true; 
                        %>
                        <%for(platforms of game.platform){%>
                            <!-- insert image associated with the specific platform-->
                            <%if(platforms == "Xbox One"){%>
                                <i class="fab fa-xbox"></i>
                            <%}%>
                            <%if((platforms == "PlayStation 4" || platforms == "PlayStation 5") && playstation){%>
                                <%playstation = false;%>
                                <i class="fab fa-playstation"></i>
                            <%}%>
                            <%if(platforms == "PC"){%>
                                <i class="fab fa-windows"></i>
                            <%}
                        }%>
                    </div>

                        <% let rating = game.rating;
                        if(rating == '' || rating ==null){
                            rating = "N/A";
                        }%>
                      
                      <div> 
                        Metacritic
                        <div class="hero-rating"><%=rating%></div>
                        </div>
                  </div>
                  
                    
              </div>
          </div>
      </section>

      <div id="selection-menu">  
          <ul>
              <li> <a href="#about">About</a> </li>
              <li> <a href="#details">Details</a></li>
              <li> <a href="#reviews">Reviews</a></li>
          </ul>
      </div>

      <section id="details-container">
            <div id="screenshots-container">
                <div class="game-list-heading-container">
                    <h2 class="game-list-title">Screenshots</h2>
                    <div class="arrw">
                        <i class="fas fa-chevron-left arrow carousel__button--prev"></i>
                        <i class="fas fa-chevron-right arrow carousel__button--next"></i>
                    </div>
                </div> 
                <div class="screenshots"> 
                    <div class="carousel">
                        <div class="carousel__track-container">
                            <!--Everything in the carousel__track will be done with JS
                            we will have a link in there so that we can click on it
                            -->
                            <ul class="carousel__track">
                                <%for(screenshot of game.screenshots){%>
                                    <li class="carousel__slide">
                                        <img class="carousel__image" src="<%=screenshot%>" alt="<%=game.name%> image">
                                    </li>
                                <%}%>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
          
          <div id="about">
              <h2>Description</h2> 
              <div class="about_description container">
                  <%-game.description%>
              </div>
          </div>
          
          <div id="details">
              <h2>Additional Information</h2>
              <div class="info container">
                  <div class="stores-container">
                      <h4>Stores</h4>
                      <div class="stores">
                          <%for(store of game.stores){%>
                            <!--u can get the domain by store.domain-->
                            <span class="store"><%=store.store.name%></span>
                          <%}%>
                      </div>
                  </div>
                  <div class="publishers-container">
                      <h4>Publishers</h4>
                      <div class="publishers">
                          <%for(publisher of game.publishers){%>
                            <div class="publisher"><%=publisher.name%></div>
                          <%}%>
                          </div>
                    </div>

                    <div class="developers-container">
                        <h4>Developers</h4>
                        <div class="developers">
                            <%for(developer of game.developers){%>
                              <div class="developer"><%=developer.name%></div>
                            <%}%>
                            </div>
                      </div>
                    <div>
                        <h4> Release date</h4> 
                        <span class="release-date">
                            <%=(game.release_Date.toDateString()).slice(4,game.release_Date.length)%>
                        </span>
                    </div>
                    
                    <div>
                        <h4>Age rating</h4>
                        <span class="age-rating"><%=game.esrb_rating%></span>
                    </div>
                    <div class="game-links-container">
                        <h4>Game links</h4>
                        <div class="game-links">
                            <div><a href="<%-game.website%>"> Game website</a></div>
                            <div><a href="<%-game.redditUrl%>"> Reddit Page</a></div>
                        </div>
                    </div>
                    
                </div>
  
                
            </div>  

            <!-- Some games do not have system requirements so need to be hidden-->
            <%if(!game.minimumRequirement == undefined){%>
            <div id="system-requirements">
                <h2>System requirements</h2>
                <div class="sys-req container">
                    <div class="sys-description"><%-game.minimumRequirement%></div>
                    <div class="sys-description"><%=game.recommendedRequirement%></div>
                </div>
            </div>
            <%}%>
        </section>
        
        <section id="reviews">
            <h2>Reviews</h2>
            <div class="reviews-content">

            </div>
        </section>
      </div>
      
  </div>
</body>
<script src="/js/gameCarousel.js"></script>

