<!--PC-->
<form action="/platform/filter" method="POST" class="filter-container">
    <%- include("../partials/filter.ejs")%>
    <input class="selection" type="submit" value="Filter">
</form>

<!-- create a javascript function that inserts the data-->
<div class="backgroundClr">
    <div class="games flex">
        <!--for each game, generate a div container for it-->
        <% for(game of games){%> 
            <div class="game">
                <h4 class="game-title"><%=game.name%></h3>
                <img src=<%=game.background_img%> alt=<%=game.name%> class="games_img_smaller">
                <div class="content-container">
                    <div class="game-description">
                        <p ><%=game.description%></p>
                    </div>
                    <div class="genres">
                        <span><strong>Genres:</strong></span>
                        <!-- put the display in the css file-->
                        <%for(genre of game.genres){%>
                            <li style="display: inline-block;" class="genre_list"><%=genre%></li>,
                        <%}%>
                    </div>
                    <div class="platforms">
                        <span><strong>Platform(s):</strong></span>
                        <% //Dont want 2 playstation logos for ps4 and ps5 so have a boolean to detect one of em
                        let playstation = true; 
                        %>
                        <%for(platforms of game.platform){%>
                            <!-- insert image associated with the specific platform-->
                            <%if(platforms == "Xbox One"){%>
                                <i class="fab fa-xbox"></i>
                            <%}%>
                            <%if((platforms == "PlayStation 4" || platforms == "PlayStation 5") && playstation){%>
                                <%playstation = false;%>
                                <i class="fab fa-playstation"></i>
                            <%}%>
                            <%if(platforms == "PC"){%>
                                <i class="fab fa-windows"></i>
                            <%}
                        }%>
                    </div>
                    <div>
                        <% let rating = game.rating;
                        if(rating == '' || rating ==null){
                            rating = "N/A";
                        }%>
                        <span><strong>Rating: </strong><%=rating%> </span>
                    </div>
                    <div>
                        <!--new Date(game.release_Date).toISOString().split('T')[0]-->
                        <span><strong>Release Date:</strong> <%=(game.release_Date.toDateString()).slice(4,game.release_Date.length)%> </span>
                    </div>
                </div>
            </div>
        <%}%>
    </div>    
</div>

<script src="/multiselect.js"></script>
